.formContainer{
    border: 1px solid rgb(255, 0, 0);
    margin-top: 100px;
}
.MyButton {
    color: whitesmoke;
    border: #6c63ff solid 1px;
    background-color: #6c63ff;
    width: 50%;
    font: 150% bold;
  }
  .MyButton:hover {
    color: whitesmoke;
    box-shadow: 7px 7px 7px rgba(0, 88, 139, 0.4);
    background-color: #6c63ff;
    transform: translateY(-2px);
  }
.inputRound{
    border-radius: 4%;
    width: 99%;
}