.formContainer{
    border: 1px solid rgb(255, 0, 0);
    margin-top: 100px;
    width: 50%;
}
.MyButton {
    color: whitesmoke;
    border: #6c63ff solid 1px;
    background-color: #6c63ff;
    width: 50%;
    font: 150% bold;
  }
  .MyButton:hover {
    color: whitesmoke;
    box-shadow: 7px 7px 7px rgba(0, 88, 139, 0.4);
    background-color: #6c63ff;
    transform: translateY(-2px);
  }
.inputRound{
    border-radius: 4%;
    width: 99%;
}

.teamPic {
  /* border-radius: 50%; */
  width: 150px;
  margin-right: 30px;
}